html {
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 Calibri, serif;
}

.current {
	background-color: #010;
	color: #fee;
}

.nav {
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav-top {
	font-size: 1.25rem;
}

.nav-bottom {
	clear: both;
}

.projects {
	display: block;
	position: relative;
}

.projects > a {
	color: #000;
	height: 95%;
}

.proj {
	position: relative;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	float: left;
	height: 200px;
	width: 500px;
}

.proj-pic {
	margin: 5px;
	width: 45%;
	height: 50%;
	float: left;
}

.proj-pic > img {
	width: 100%;
}

.proj-details {
	width: 45%;
	float: right;
}

.proj-name {
	max-width: 100%;
	height: 20%;
}

.proj-description {
	max-width: 100%;
	margin: 25px auto;
	height: 80px;
}

.proj-date-published {
	height: 20%;
	text-align: right;
}

.proj > h1, h3, h6, p {
	margin: 0;
}
