html {
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 Calibri, serif;
}

header {
	width: 1200px;
	margin: auto;
}

footer {
	width: 1200px;
	margin: auto;
}

body {
	background: #e2e2e2;
    background: linear-gradient(to left, #e2e2e2 0%, #ffa500 700%);
}

.content-center {
	width: 1200px;
	margin: auto;
}

.current {
	background-color: #010;
	color: #fee;
}

.nav {
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav-top {
	font-size: 1.25rem;
}

.nav-bottom {
	clear: both;
}

.projects {
	display: block;
	position: relative;
	height: 500px;
	width: 1050px;
	margin: auto;
}

.projects > a {
	color: #000;
}

.proj {
	position: relative;
	padding: 2px;
	margin: 5px;
	border: 1px solid black;
	float: left;
	height: 200px;
	width: 500px;
}

.proj-pic {
	margin: 5px;
	width: 45%;
	height: 50%;
	float: left;
}

.proj-pic > img {
	width: 100%;
}

.proj-details {
	padding: 3px;
	width: 45%;
	float: right;
}

.proj-name {
	max-width: 100%;
	height: 20%;
}

.proj-description {
	max-width: 100%;
	margin: 25px auto;
	height: 80px;
}

.proj-date-published {
	height: 20%;
	text-align: right;
}

.proj > h1, h3, h6, p {
	margin: 0;
}
